* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "opensans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  -webkit-animation: bugfix infinite 1s;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
@-webkit-keyframes bugfix {
  to {
    padding: 0;
  }
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 320px) {
  html,
  body {
    margin: 0;
    overflow-x: hidden;
  }
  .nav {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  body {
    background: url('../img/bg.jpg') no-repeat;
    background-size: 100% ;
    background-attachment: fixed;
  }
}
@media (min-width: 1090px) and (max-width: 1199px) {
  body {
    background: url('../img/bg.jpg') no-repeat;
    background-size: 100% ;
    background-attachment: fixed;
  }
}
@media (min-width: 1450px) {
  body {
    background: url('../img/bg.jpg') no-repeat;
    background-size: 100% ;
    background-attachment: fixed;
  }
}
.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  background: #ffffff;
}
.container:nth-child(3) {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.footer {
  padding: 10px 0 10px 0;
  background: #c71a1a;
}
.footer .container {
  background: #c71a1a;
}
.cartoons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cartoons__wrapper {
  width: 130px;
  border: 4px solid crimson;
}
.cartoons__description {
  width: 140px;
  margin: 0;
  font-size: 12px;
}
@media (min-width: 768px) {
  .cartoons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cartoons__item {
    display: block;
  }
  .cartoons__wrapper {
    width: 300px;
  }
  .cartoons__description {
    width: 300px;
    font-size: 16px;
    font-weight: bold;
  }
}
.bloger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0 10px 0;
}
.bloger__wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100px;
  border: 4px solid crimson;
  border-radius: 50%;
  overflow: hidden;
}
.bloger__description {
  width: 150px;
}
.bloger__link {
  color: crimson;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.bloger__about {
  font-size: 14px;
}
@media (min-width: 768px) {
  .bloger__description {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .bloger__wrapper {
    margin: 0 0 0 100px;
  }
}
.photo__wrapper {
  width: 135px;
  height: 100px;
  margin: 10px 0 10px 0;
  overflow: hidden;
}
.photo__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 0 0;
}
.progress__item {
  width: 135px;
  margin: 0 0 10px 0;
  border: 1px solid crimson;
}
.progress__title {
  font-size: 16px;
}
.progress__description {
  font-size: 14px;
}
@media (min-width: 768px) {
  .progress__item {
    width: 290px;
  }
}
@media (min-width: 1150px) {
  .smi__wrapper {
    width: 600px;
    margin: 0 auto;
  }
  .smi__description {
    text-align: center;
  }
}
.map {
  height: 250px;
  background: url('../img/map-mobile.jpg') no-repeat 50% antiquewhite;
}
@media (min-width: 768px) {
  .map {
    width: 768px;
    height: 300px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .map {
    width: 1000px;
    height: 400px;
  }
}
.contacts {
  padding: 20px 0 20px 0;
}
.contacts p {
  font-size: 14px;
}
.contacts__manager {
  font-weight: bold;
}
.contacts__phone span {
  display: block;
}
.contacts__email span {
  display: block;
}
.contacts__link {
  color: #c71a1a;
}
.contacts__link:hover {
  color: #E37676;
}
.contacts__link:visited {
  color: #810808;
}
@media (min-width: 768px) {
  .contacts p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .contacts p {
    font-size: 18px;
    line-height: 2em;
  }
}
.header__logo-text {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: #c71a1a;
}
.header__navigation {
  top: 20px;
  right: 0;
  height: 100%;
  background-color: #c71a1a;
  z-index: 100;
}
.header__navigation-container {
  background: #c71a1a;
}
.header__navigation-item {
  list-style: none;
}
.header__navigation-link {
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #810808;
  border-radius: 8px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
.header__navigation-link:hover {
  background-color: black;
  -webkit-box-shadow: 0 0 2px 1px black;
          box-shadow: 0 0 2px 1px black;
}
.header__navigation--active {
  background: #810808;
}
.header__navigation--active:hover {
  background: #810808;
}
.header__navigation-block {
  margin: 0;
  padding: 0;
  background: #c71a1a;
  z-index: 100;
}
#toggler {
  position: absolute;
  top: 20px;
  right: 0;
  width: 35px;
  height: 35px;
  background: url("../img/zebra-open.png") no-repeat -5px #c71a1a;
  border: none;
  border-radius: 15px 0 0 15px;
  -webkit-transition: background 0.3s, right 0.3s;
  transition: background 0.3s, right 0.3s;
  z-index: 200;
  cursor: pointer;
}
.header__navigation--opened .header__navigation-block {
  position: absolute;
  top: 20px;
  right: 0;
  padding-top: 30px;
  border-radius: 15px 0 0 15px;
}
.header__navigation--closed .header__navigation-block {
  position: absolute;
  display: none;
}
.header__navigation--nojs .header__navigation-block {
  position: static;
}
.header__navigation--opened #toggler {
  background: url("../img/close.png") no-repeat 0 5px #c71a1a;
}
@media (min-width: 768px) {
  .header__navigation--closed .header__navigation-block {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #toggler {
    display: none;
  }
  .header__navigation {
    position: static;
    border-radius: 0;
    padding: 0;
  }
  .header__navigation-link {
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 0;
  }
  .header__navigation-item:nth-child(4) {
    margin-left: 100px;
  }
  .header__logo {
    position: relative;
    width: 61px;
    top: -30px;
    left: 120px;
  }
  .header__logo:hover {
    -webkit-box-shadow: 0 0 5px 2px;
            box-shadow: 0 0 5px 2px;
    border-radius: 15px;
  }
  .header__logo-wrapper {
    width: 300px;
    height: 25px;
    margin: 0 auto;
    background: url('../img/logo-around-tablet.png') no-repeat;
  }
  .header__logo-text {
    margin: 20px  0 0 0;
    font-size: 16px;
    font-weight: bold;
  }
}
@media (min-width: 1200px) {
  .header__navigation-item:nth-child(4) {
    margin-left: 150px;
  }
  .header__navigation-link {
    font-size: 16px;
    font-weight: bold;
  }
  .header__logo {
    top: -30px;
    left: 170px;
    width: 87px;
  }
  .header__logo-wrapper {
    height: 45px;
    width: 400px;
    background: url('../img/logo-around.png') no-repeat 0 10px;
  }
  .header__logo-text {
    margin: 30px 0 0 0;
  }
}
.social {
  padding: 10px 0 10px 0;
}
.social__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 0 20px;
}
.social__icon {
  width: 30px;
  height: 30px;
  margin: 0 0 0 40px;
  border-radius: 50%;
}
.social__icon:first-child {
  margin: 0;
}
.social__icon-youtube {
  background: url('../img/play.svg') no-repeat;
}
.social__icon-vk {
  background: url('../img/vk.svg') no-repeat;
}
.social__icon-instagram {
  background: url('../img/instagram.svg') no-repeat;
}
@media (min-width: 768px) {
  .social__icon {
    margin: 0 0 0 80px;
  }
  .social__icon:first-child {
    margin: 0;
  }
}
.main {
  position: relative;
}
.main__preview {
  position: relative;
  width: 280px;
  padding: 0 0 30px 0;
}
.main__preview::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #c71a1a;
}
.main__preview::after {
  content: "";
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #c71a1a;
}
.main__features {
  padding: 0 0 20px 0;
}
.main__features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 0;
  border-top: 1px solid grey;
}
.main__features-item:last-child {
  border-bottom: 1px solid grey;
}
.main__features-text {
  width: 210px;
  margin: 0;
  font-size: 14px;
}
.main__features-icon {
  width: 70px;
}
.main__features-icon-first {
  background: url('../img/animation.png') no-repeat 10% 50%;
}
.main__features-icon-second {
  background: url('../img/video.png') no-repeat 10% 50%;
}
.main__features-icon-third {
  background: url('../img/tv.png') no-repeat 10% 50%;
}
@media (min-width: 768px) {
  .main__preview {
    width: 100%;
  }
  .main__preview::after {
    top: 310px;
    background: #000000;
  }
  .main__preview::before {
    background: #000000;
  }
  .main__features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__features-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
  }
  .main__features-item:last-child {
    border: none;
  }
  .main__features-icon {
    height: 60px;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .main__bottom-image {
    height: 95px;
    background: url('../img/lenta-tablet.jpg') no-repeat;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .main__preview::after {
    top: 450px;
  }
  .main__preview-slides {
    margin: 0 auto;
    width: 966px;
  }
  .main__features-text {
    width: 320px;
  }
  .main__bottom-image {
    height: 135px;
    background: url('../img/lenta.jpg') no-repeat;
  }
}
.copyright__text {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
