.container {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 50px;
    padding-right: 50px;
    outline: 1px solid green;
  }
}
/*
@media (min-width: 1150px) {
  .container {
    width: 1150px;
    padding-left: 50px;
    padding-right: 50px;
  }
}*/
