.contacts {
  padding: 20px 0 20px 0;
}

.contacts p {
  font-size: 14px;
}

.contacts__manager {
  font-weight: bold;
}

.contacts__phone span {
  display: block;
}

.contacts__email span {
  display: block;
}
