
.header__logo-text {
  margin: 0;
  font-size: 12px;
  text-align: center;
  color: @main-color;
}

.header__navigation {
  top: 20px;
  right: 0;
  height: 100%;
  background-color: @main-color;
  z-index: 100;
}

.header__navigation-container {
  background: @main-color;
}


.header__navigation-item {
  list-style: none;
}

.header__navigation-link {
  display: block;
  padding: 10px 20px;
  color: @white;
  text-decoration: none;
  border-bottom: 1px solid @border-menu;
  border-radius: 8px;
  transition: background-color 0.5s ease;
}

.header__navigation-link:hover {
  background-color: black;
  box-shadow: 0 0 2px 1px black;
}

.header__navigation--active {
  background: @border-menu;
}

.header__navigation--active:hover {
  background: @border-menu;
}


.header__navigation-block {
  margin: 0;
  padding: 0;
  background: @main-color;
  z-index: 100;
}

#toggler {
  position: absolute;
  top: 20px;
  right: 0;
  width: 35px;
  height: 35px;
  background: url("../img/zebra-open.png") no-repeat -5px @main-color;
  border: none;
  border-radius: 15px 0 0 15px;
  transition: background 0.3s, right 0.3s;
  z-index: 200;
  cursor: pointer;
}

.header__navigation--opened .header__navigation-block {
  position: absolute;
  top: 20px;
  right: 0;
  padding-top: 30px;
  border-radius: 15px 0 0 15px;
}

.header__navigation--closed .header__navigation-block {
  position: absolute;
  display: none;
}

.header__navigation--nojs .header__navigation-block {
  position: static;
}

.header__navigation--opened #toggler {
  background: url("../img/close.png") no-repeat 0 5px @main-color;
}

@media (min-width: 768px) {
  .header__navigation--closed .header__navigation-block {
    position: static;
    display: flex;
    justify-content: center;
  }

  #toggler {
    display: none;
  }

  .header__navigation {
    position: static;
    border-radius: 0;
    padding: 0;
  }

  .header__navigation-link {
    padding: 5px 20px 5px 20px;
    border: none;
    border-radius: 0;
  }

  .header__navigation-item:nth-child(4){
    margin-left: 100px;
  }

  .header__logo {
    position: relative;
    width: 61px;
    top: -30px;
    left: 120px;
  }

  .header__logo:hover {
    box-shadow: 0 0 5px 2px;
    border-radius: 15px;
  }

  .header__logo-wrapper {
    width: 300px;
    height: 25px;
    margin: 0 auto;
    background: url('../img/logo-around-tablet.png') no-repeat;
  }

  .header__logo-text {
    margin: 20px  0 0 0;
    font-size: 16px;
    font-weight: bold;
  }

}

@media (min-width: 1200px) {
  .header__navigation-item:nth-child(4){
    margin-left: 150px;
  }

  .header__navigation-link {
   font-size: 16px;
    font-weight: bold;
  }

  .header__logo {
    top: -30px;
    left: 170px;
    width: 87px;
  }

  .header__logo-wrapper {
    height: 45px;
    width: 400px;
    background: url('../img/logo-around.png') no-repeat 0 10px;
  }

  .header__logo-text {
    margin: 30px 0 0 0;
  }

}
