
.main__preview {
  position: relative;
  width: 280px;
  min-height: 150px;
  padding: 0 0 30px 0;
  overflow: hidden;
}

.main__features {
  padding: 0 0 20px 0;
}

.main__features-item{
  display: flex;
  padding: 10px 0 10px 0;
  border-top: 1px solid grey;
}

.main__features-item:last-child {
  border-bottom: 1px solid grey;
}

.main__features-text {
  width: 210px;
  margin: 0;
  font-size: 14px;
}

.main__features-icon{
  width: 70px;
}

.main__features-icon-first {
  background: url('../img/animation.png')no-repeat 10% 50%;
}

.main__features-icon-second {
  background: url('../img/video.png')no-repeat 10% 50%;
}

.main__features-icon-third {
  background: url('../img/tv.png')no-repeat 10% 50%;
}

//slider animation
@-webkit-keyframes anim_slides {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.main__preview ul li {
  opacity: 0;
  position: absolute;
  top: 0;
  /* css3 анимация */
  -webkit-animation-name: anim_slides;
  -webkit-animation-duration: 28.0s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: anim_slides;
  -moz-animation-duration: 28.0s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: normal;
  -moz-animation-delay: 0;
  -moz-animation-play-state: running;
  -moz-animation-fill-mode: forwards;
}


/* css3 delays */

.main__preview-item2 {
  -webkit-animation-delay: 6.0s;
  -moz-animation-delay: 6.0s;
}

.main__preview-item3 {
  -webkit-animation-delay: 12.0s;
  -moz-animation-delay: 12.0s;
}

.main__preview-item4{
  -webkit-animation-delay: 18.0s;
  -moz-animation-delay: 18.0s;
}

.main__preview-item5{
  -webkit-animation-delay: 22.0s;
  -moz-animation-delay: 22.0s;
}

.main__preview-slide img {
  display: block;
}


/* keyframes #anim_titles */

@-webkit-keyframes anim_titles {
  0% {
    left: 100%;
    opacity: 0;
  }
  5% {
    left: 10%;
    opacity: 1;
  }
  20% {
    left: 10%;
    opacity: 1;
  }
  25% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .main__preview {
    width: 100%;
    min-height: 330px;
  }

  .main__features {
    display: flex;
    justify-content: space-between;
  }

  .main__features-item {
    flex-direction: column;
    border: none;
  }

  .main__features-item:last-child {
    border: none;
  }

  .main__features-icon {
    height: 60px;
    align-self: center;
  }

  .main__bottom-image {
    height: 95px;
    background: url('../img/lenta-tablet.jpg') no-repeat;
    background-size: 100%;
  }

}

@media (min-width: 1200px) {

  .main__preview {
    min-height: 460px;
  }

  .main__preview-slides {
    margin: 0 auto;
    width: 966px;
  }

  .main__features-text {
    width: 320px;
    padding: 10px 20px;
  }

  .main__bottom-image {
    height: 135px;
    background: url('../img/lenta.jpg') no-repeat;
  }

}
