.main {
  position: relative;
}

.main__preview {
  position: relative;
  width: 280px;
  padding: 0 0 30px 0;
}

.main__preview::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: @main-color;
}

.main__preview::after {
  content: "";
  position: absolute;
  top: 125px;
  left: 0;
  width: 100%;
  height: 10px;
  background: @main-color;
}

.main__features {
  padding: 0 0 20px 0;
}

.main__features-item{
  display: flex;
  padding: 10px 0 10px 0;
  border-top: 1px solid grey;
}

.main__features-item:last-child {
  border-bottom: 1px solid grey;
}

.main__features-text {
  width: 210px;
  margin: 0;
  font-size: 14px;
}

.main__features-icon{
  width: 70px;
}

.main__features-icon-first {
  background: url('../img/animation.png')no-repeat 10% 50%;
}

.main__features-icon-second {
  background: url('../img/video.png')no-repeat 10% 50%;
}

.main__features-icon-third {
  background: url('../img/tv.png')no-repeat 10% 50%;
}

@media (min-width: 768px) {
  .main__preview {
    width: 100%;
  }

  .main__preview::after {
    top: 310px;
    background: @black;
  }

  .main__preview::before {
    background: @black;
  }

  .main__features {
    display: flex;
    justify-content: space-between;
  }

  .main__features-item {
    flex-direction: column;
    border: none;
  }

  .main__features-item:last-child {
    border: none;
  }

  .main__features-icon {
    height: 60px;
    align-self: center;
  }

  .main__bottom-image {
    height: 95px;
    background: url('../img/lenta-tablet.jpg') no-repeat;
    background-size: 100%;
  }

}

@media (min-width: 1200px) {
  .main__preview::after {
    top: 450px;
  }

  .main__preview-slides {
    margin: 0 auto;
    width: 966px;
  }

  .main__features-text {
    width: 320px;
  }

  .main__bottom-image {
    height: 135px;
    background: url('../img/lenta.jpg') no-repeat;
  }

}
