.progress__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 0 0;
}

.progress__wrapper {
  width: 135px;
  margin: 0 0 10px 0;
}

.progress__title {
  font-size: 16px;
}

.progress__description {
  font-size: 14px;
}
